body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}



h1 {
    color: #315266;
}
body{
    background-color: #85bdde ;
}
th {
    background-color: aquamarine;
}
tr {
    background-color: #bafafa;
    color: black;
}
p {
    color: blueviolet;
}
p1 {
    color: plum;
}
td-editar {
    color: black;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid black;
    padding: 5px;
    text-align: left;
}

.boton_editar {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
  
.boton_editar:hover {
    background-color: darkgoldenrod;
}

.boton_borrar {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
  
.boton_borrar:hover {
    background-color: darkred;
}
