h1 {
    color: #315266;
}
body{
    background-color: #85bdde ;
}
th {
    background-color: aquamarine;
}
tr {
    background-color: #bafafa;
    color: black;
}
p {
    color: blueviolet;
}
p1 {
    color: plum;
}
td-editar {
    color: black;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid black;
    padding: 5px;
    text-align: left;
}


.boton_borrar {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton_borrar:hover {
    background-color: darkred;
  }